<template>


    <div>
        {{ departments }}
    </div>


</template>








<script>
import axios from 'axios';

export default {
  name: "DepartmentsComp",
  data() {
    return {
        departments : []
    }
  },
  mounted() {
    axios
      .get('http://localhost:8000/api/v1/employees/departments/')
      .then(response => (this.departments = response.data.departments));

  },
}

</script>








<style scoped>

</style>