<template>
<div>




  <div class="bg-gray-200 px-4 py-3 text-black sm:flex sm:items-center sm:justify-between sm:px-8 lg:px-8 ">
          <label for="Search" class="hidden">Поиск</label>
            <div class="relative">

              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <button @click="search"  type="button" title="search" class="p-1 focus:outline-none focus:ring">
                  <svg  fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 dark:text-gray-100">
                    <path d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
                  </svg>
                </button>
              </span>

              <input v-model="searchValue" type="search" name="Search" placeholder="Поиск..." class=" w-32 py-2 pl-10 text-sm rounded-md sm:w-auto focus:outline-none dark:bg-gray-800 dark:text-gray-100 focus:dark:bg-gray-900 focus:dark:border-violet-400">
            
            </div>
  </div>



  
  <div
    class="bg-gray-500 px-4 py-3 text-white sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8"
  >
  <div class="mb-1" > Фильтрация
        <select  @click="filterAge(ageNumber)" v-model="ageNumber" class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaselecttButton">
          <option >
            <a href="#" value="all"></a>
          </option>

          <option >
            <a href="#" value="design">25</a>
          </option>

          <option >
            <a  href="#" value="front">20</a>
          </option > 

          <option >
            <a  href="#" value="back">33</a>
          </option>
          
          <option >
            <a href="#" value="market"> 40</a>
          </option>
        </select>
  </div>

  <div>
    <router-link :to="{ name: 'q'}">
      <p class="text-black inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide " >
        <span
          class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
        >
        q запрос
        </span>
      </p>
    </router-link>
  </div>
  </div>



      <section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
        <h2 class="max-w-lg mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none md:mb-6 group">
          <span class="inline-block mb-1 sm:mb-4">
            Команда Visitor<br class="hidden md:block" />
          </span>
          <div class="h-1 ml-auto duration-300 origin-left transform bg-deep-purple-accent-400 scale-x-30 group-hover:scale-x-100"></div>
        </h2>
        <p class="text-gray-800 lg:text-sm lg:max-w-md">
          Наведите на сотрудников, чтобы узнать о них больше
        </p>
      </div>


      <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2" >
        <div v-for="article in newsList" :key="article.id">
                <router-link :to="{ name: 'NewId', params: { id: article.id } }">
                  <div class="relative overflow-hidden transition duration-200 transform rounded shadow-lg hover:-translate-y-2 hover:shadow-2xl">
                    <img
                          :src="`${article.photo}`"
                          
                          class="object-cover w-full h-56 md:h-64 xl:h-80"
                    />
                    <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                      <p class="mb-4 text-lg font-bold text-gray-100">{{ article.name }}</p>
                      <p class="text-sm tracking-wide text-gray-300">
                        {{ article.jobTitle.name }}
                      </p>
                      <router-link :to="{ name: 'NewId', params: { id: article.id } }">
                        <p class="text-white mt-5">Подробнее -></p>
                      </router-link>
                    </div>
                  </div>
                </router-link>
          </div>



          <div class="flex justify-center space-x-1 dark:text-gray-100" >
              <div v-for="num in countPage" :key="num">
                <button 
                  @click="newPage(num)"
                  type="button"
                  class="active:bg-pink-700 inline-flex items-center justify-center w-8 h-8 text-sm font-semibold border rounded shadow-md dark:bg-gray-900 dark:text-violet-400 dark:border-violet-400"
                  
                >
                  {{num}}
                </button>
              </div>
              <div >
                Страница: {{ page }}
              </div>
              
          </div>


      </div>
    </div>
  </section>






<section>

  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
      <h2 class="text-center text-2xl font-bold text-pink-600 sm:text-3xl">
        Новый сотрудник
      </h2>

      <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
        Внимательно заполните форму с данными нового сотрудника
      </p>



      <form @submit.prevent.stop="submit" class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-2xl">

        <div>
          <label for="surname" class="text-sm font-medium">Фамилия</label>
          <div class="relative mt-1">
            <input
              v-model="surname"
              type="text"
              id="surname"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="Мукомел"
            />
          </div>
        </div>

        <div>
          <label for="name" class="text-sm font-medium">Имя</label>
          <div class="relative mt-1">
            <input
              v-model="name"
              type="text"
              id="name"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="Наталия"
            />
          </div>
        </div>

        <div>
          <label for="patronymic" class="text-sm font-medium">Отчество</label>
          <div class="relative mt-1">
            <input
              v-model="patronymic"
              type="text"
              id="patronymic"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="Дмитриевна"
            />
          </div>
        </div>

        <div>
          <label for="age" class="text-sm font-medium">Возраст</label>
          <div class="relative mt-1">
            <input
              v-model="age"
              type="number"
              id="age"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="19"
            />
          </div>
        </div>

        <div>
          <label for="dateOfBirth" class="text-sm font-medium">Дата рождения</label>
          <div class="relative mt-1">
            <input
              v-model="dateOfBirth"
              type="date"
              id="dateOfBirth"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="01/24/2003"
            />
          </div>
        </div>

        <div>
          <label for="telephone" class="text-sm font-medium">Телефон</label>
          <div class="relative mt-1">
            <input
              v-model="telephone"
              type="tel"
              id="telephone"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="89039998877"
            />
          </div>
        </div>

        <div>
          <label for="address" class="text-sm font-medium">Адрес</label>
          <div class="relative mt-1">
            <input
              v-model="address"
              type="text"
              id="address"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="Москва, ул. Верного, д. 21"
            />
          </div>
        </div>

        <div>
          <label for="gender" class="text-sm font-medium">Пол</label>
          <div class="relative mt-1">
            <input
              v-model="gender"
              type="text"
              id="gender"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>

      <div>
          <label for="jobTitle" class="text-sm font-medium">Должность</label>
          <div class="relative mt-1">
            <input
              v-model="jobTitle.name"
              type="text"
              id="jobTitle"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>

        <div>
          <label for="department" class="text-sm font-medium">Отдел</label>
          <div class="relative mt-1">
            <input
              v-model="department.name"
              type="text"
              id="department"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>

        <div>
          <label for="salary" class="text-sm font-medium">Зарплата</label>
          <div class="relative mt-1">
            <input
              v-model="salary.sum"
              type="number"
              id="salary"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>

        <div>
          <label for="education" class="text-sm font-medium">Образование</label>
          <div class="relative mt-1">
            <input
              v-model="education.name"
              type="text"
              id="education"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>

        <div>
          <label for="premium" class="text-sm font-medium">Премия</label>
          <div class="relative mt-1">
            <input
              v-model="premium.sum"
              type="number"
              id="premium"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
            />
          </div>
        </div>







        <div>
          <label for="photo" class="text-sm font-medium">Фото</label>
          <div class="relative mt-1">
            <input
              type="file"
              id="photo"
              class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
              placeholder="женский"
              @change="uploadFile"
            />
          </div>
        </div>






        <div class="flex justify-end">
          <button type="submit" class=" inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide ">
            <span
              class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
              Добавить сотрудника
            </span>
          </button>
        </div>


      </form>
    </div>
  </div>

</section>







</div>
</template>




<script>

import { ceil } from 'mathjs'
import axios from 'axios';

export default {
  name: "NewsComp",
  data() {
    return {
      countEmployee: '',
      pageNum: 1,

      ageNumber : '',
      searchValue:'',
      
      surname: '',
      name: '',
      patronymic: '',
      age: '',
      dateOfBirth: '',
      telephone: '',
      address: '',
      gender: '',
      photo: null,
      
      jobTitle: {
        "name": ''
      },
      department: {
        "name": ''
      },
      salary: {
        "sum": ''
      },
      education: {
        "name": ''
      },
      premium: {
        "sum": ''
      }
    };
  },


  mounted() {
    axios
      .get('http://localhost:8000/api/v1/employees/?page=1')
      .then(response => (this.countEmployee = response.data.count));

    this.$store.dispatch('GET_EMPLOYEES');
  },


  methods: {
        newPage(numberPage) {
            this.$store.dispatch('GET_EMPLOYEES_NEW_PAGE', numberPage)
            this.pageNum = numberPage
        },

        search() {
          this.$store.dispatch('GET_EMPLOYEES_SEARCH', this.searchValue)
        },

        filterAge(age) {
          if (age ==1000) {
            this.$store.dispatch('GET_EMPLOYEES')
          } else
          this.$store.dispatch('GET_EMPLOYEES_FILTER_AGE', age)
        },

        uploadFile: function(e) {
          this.photo = e.target.files[0];
          
        },
        submit: function() {
            axios.post('http://localhost:8000/api/v1/employees/', {
                surname: this.surname ,
                name: this.name ,
                patronymic: this.patronymic ,
                age: this.age ,
                dateOfBirth: this.dateOfBirth ,
                telephone: this.telephone ,
                address: this.address ,
                gender: this.gender,
                photo: this.photo,
                jobTitle: this.jobTitle ,
                department: this.department ,
                salary: this.salary ,
                education: this.education ,
                premium: this.premium
            }, {headers: {'Content-Type':'multipart/form-data'}})
            .then()
            .catch(e => {
               this.errors.push(e)
            }),
            this.surname = '',
            this.name = '',
            this.patronymic = '',
            this.age = '',
            this.dateOfBirth = '',
            this.telephone = '',
            this.address = '',
            this.gender = '',
            this.photo = null,
            
            this.jobTitle= {
              "name": ''
            },
            this.department= {
              "name": ''
            },
            this.salary= {
              "sum": ''
            },
            this.education= {
              "name": ''
            },
            this.premium= {
              "sum": ''
            }
        }
    },


  computed: {
    newsList() {
      return this.$store.getters.EMPLOYEES;
    },

    countPage() {
      return ceil(Number(this.countEmployee)/8) 
      
    },

    page() {
      return this.pageNum
    },

  },
}
</script>

<style scoped>

</style>