<template>
<div>

<section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
        <div class="flex flex-col justify-center">
          <div class="max-w-xl mb-6">
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
              Сотрудник<br class="hidden md:block" />
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
              {{filterNews().surname}} {{filterNews().name}} {{filterNews().patronymic}}
            </p>
          </div>



          <div class="grid gap-8 row-gap-8 sm:grid-cols-2">
            <div>
              <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
                <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
              <h6 class="mb-2 font-semibold leading-5">
                Отдел
              </h6>
              <p class="text-sm text-gray-900">
                {{filterNews().department.name}}
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
                <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
                  <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                </svg>
              </div>
              <h6 class="mb-2 font-semibold leading-5">
                Отдел
              </h6>
              <p class="text-sm text-gray-900">
                {{filterNews().department.name}}
              </p>
            </div>
          </div>
        </div>
        <div>
          <img
              :src="`${filterNews().photo}`"
                          
              class="object-cover w-85 h-56 md:h-64 xl:h-80"
          />
        </div>
      </div>
    </div>




    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="flex flex-col items-start max-w-screen-sm md:flex-row sm:mx-auto">
          <a href="/" class="mb-4 mr-8">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50">
              <svg class="w-12 h-12 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
                <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
              </svg>
            </div>
          </a>
          <div>
            <p class="text-base text-gray-700 md:text-lg">
              Отдел: {{filterNews().department.name}}
            </p>
            <p class="text-base text-gray-700 md:text-lg">
              Должность: {{filterNews().jobTitle.name}}
            </p>
            <p class="text-base text-gray-700 md:text-lg">
              Образование: {{filterNews().education.name}}
            </p>
          </div>
        </div>

        <div>
          <button @click="deleteEmployee" type="submit" class="mr-5 inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide ">
            <span
              class=" block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
              Удалить сотрудника
            </span>
          </button>

        </div>
      </div>
  </section>





<section>
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">
    <h2 class="text-center text-2xl font-bold text-pink-600 sm:text-3xl">
      Изменить сотрудника
    </h2>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      Внимательно заполните форму
    </p>



    <form @submit.prevent.stop="submit" class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-2xl">

      <div>
        <label for="surname" class="text-sm font-medium">Фамилия</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().surname"
            type="text"
            id="surname"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"

          />
        </div>
      </div>

      <div>
        <label for="name" class="text-sm font-medium">Имя</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().name"
            type="text"
            id="name"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="patronymic" class="text-sm font-medium">Отчество</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().patronymic"
            type="text"
            id="patronymic"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="age" class="text-sm font-medium">Возраст</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().age"
            type="number"
            id="age"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="dateOfBirth" class="text-sm font-medium">Дата рождения</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().dateOfBirth"
            type="date"
            id="dateOfBirth"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="telephone" class="text-sm font-medium">Телефон</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().telephone"
            type="tel"
            id="telephone"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="address" class="text-sm font-medium">Адрес</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().address"
            type="text"
            id="address"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="gender" class="text-sm font-medium">Пол</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().gender"
            type="text"
            id="gender"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

    <div>
        <label for="jobTitle" class="text-sm font-medium">Должность</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().jobTitle.name"
            type="text"
            id="jobTitle"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="department" class="text-sm font-medium">Отдел</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().department.name"
            type="text"
            id="department"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="salary" class="text-sm font-medium">Зарплата</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().salary.sum"
            type="number"
            id="salary"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="education" class="text-sm font-medium">Образование</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().education.name"
            type="text"
            id="education"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>

      <div>
        <label for="premium" class="text-sm font-medium">Премия</label>
        <div class="relative mt-1">
          <input
            v-model="filterNews().premium.sum"
            type="number"
            id="premium"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            
          />
        </div>
      </div>


      <div>
        <label for="photo" class="text-sm font-medium">Фото</label>
        <div class="relative mt-1">
          <input
            type="file"
            id="photo"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            @change="uploadFile"
          />
        </div>
      </div>



      <div class="flex justify-end">
        <button type="submit" class=" inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide ">
          <span
            class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
          >
            Изменить данные сотрудника
          </span>
        </button>
      </div>


    </form>
  </div>
</div>

</section>




</div>
</template>





<script>

import axios from 'axios';

export default {
  name: "NewComp",
  data() {
    return {
      id: this.$route.params.id,
      valid: false,
      author: '',
      commentText: '',


      surname: '',
      name: '',
      patronymic: '',
      age: '',
      dateOfBirth: '',
      telephone: '',
      address: '',
      gender: '',
      photo: null,
      
      jobTitle: {
        "name": ''
      },
      department: {
        "name": ''
      },
      salary: {
        "sum": ''
      },
      education: {
        "name": ''
      },
      premium: {
        "sum": ''
      }
    }
  },

  mounted() {
    this.$store.dispatch('GET_EMPLOYEES');

  },

  computed: {
    newsList() {
      return this.$store.getters.EMPLOYEES;
    },

    filterNews() {
          return function () {
              var filterNews = []
              for (var i = 0; i < this.newsList.length; i++) {
                  if (this.newsList[i].id === this.$route.params.id) {
                      filterNews.push(this.newsList[i]);
                  }              
              }
              
              this.surname= filterNews[0].surname ;
              this.name= filterNews[0].name ;
              this.patronymic= filterNews[0].patronymic ;
              this.age= filterNews[0].age ,
              this.dateOfBirth= filterNews[0].dateOfBirth ;
              this.telephone= filterNews[0].telephone ;
              this.address= filterNews[0].address ;
              this.gender= filterNews[0].gender ;
              this.photo= null;
              
              this.jobTitle.name= filterNews[0].jobTitle.name ;
              this.department.name= filterNews[0].department.name ;
              this.salary.sum= filterNews[0].salary.sum ;
              this.education.name= filterNews[0].education.name ;
              this.premium.sum = filterNews[0].premium.sum ;
              this.photo = filterNews[0].photo
              return filterNews[0]
          }
    },

  },

  methods: {
    deleteEmployee () {
      axios.delete(`http://localhost:8000/api/v1/employees/${this.$route.params.id}`);
      this.$router.push({ name: 'main' })
    },

    uploadFile: function(e) {
          this.photo = e.target.files[0];
          
    },

    submit: function() {
            axios.put(`http://localhost:8000/api/v1/employees/${this.$route.params.id}/`, {
                surname: this.surname ,
                name: this.name ,
                patronymic: this.patronymic ,
                age: this.age ,
                dateOfBirth: this.dateOfBirth ,
                telephone: this.telephone ,
                address: this.address ,
                gender: this.gender,
                photo: this.photo,
                jobTitle: this.jobTitle ,
                department: this.department ,
                salary: this.salary ,
                education: this.education ,
                premium: this.premium
            }, {headers: {'Content-Type':'multipart/form-data'}})
            .then()
            .catch(e => {
               this.errors.push(e)
            })
        }
  },

}
</script>















<style>
@media print {

  header, footer, nav, form {
  display: none;
}

}
</style>