<template>
    <form @submit.prevent.stop="submit" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
      <div>
        <label for="name" class="sr-only">Имя</label>

        <div class="relative">
          <input
            id="name"
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
            placeholder="Имя"
            v-model="author"
            required
          />
        </div>
      </div>

      <div>
        <label for="textarea" class="sr-only">Отзыв</label>
        <textarea id="textarea"
            required
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm text-gray-600"
          v-model="text"
        >Напишите ваш отзыв</textarea>
      </div>

      <div class="flex items-center justify-center">
        <button
          class="text-black inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide "
        >
          <span
            class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
          >
          Отправить
          </span>
        </button>
      </div>
    </form>
</template>

<script>
import axios from 'axios'
export default {
    name: 'formSend',

    data: () => ({
      author: '',
      text: ''
    }),
    methods : {
        submit: function() {
            axios.post('form.php', {
                author: this.author,
                text: this.text,
            })
            .then()
            .catch(e => {
               this.errors.push(e)
            }),
            this.author = '',
            this.text = ''
        }
  }
}
</script>

<style scoped>
</style>