<template>

<div>
  <section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="mx-auto sm:text-center lg:max-w-2xl">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <div>
            <h1 class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
              Веб-студия VISITOR
            </h1>
          </div>
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
            <span class="relative inline-block">
              <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                <defs>
                  <pattern id="5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95" x="0" y="0" width=".135" height=".30">
                    <circle cx="1" cy="1" r=".7"></circle>
                  </pattern>
                </defs>
                <rect fill="url(#5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95)" width="52" height="24"></rect>
              </svg>
              <span class="relative">Не</span>
            </span>
            просто делаем красивые сайты, а продвигаем, приводя клиентов
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            В нашей команде только опытные сотрудники, а в арсенале эффективнейшие методы сео-оптимизации
          </p>
        </div>
        <div class="mb-4 transition-shadow duration-300 hover:shadow-xl lg:mb-6">
          <img class="object-cover w-full h-56 rounded shadow-lg sm:h-64 md:h-80 lg:h-96" src="./../assets/main-img.jpg" alt="" />
        </div>
        <p class="max-w-xl mb-4 text-base text-gray-700 sm:mx-auto">
          Мы гордимся своей командой. Переходите по ссылке, чтобы познакомиться с нашими сотрудниками
        </p>
        <a href="/news" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
          Смотреть сотрудников
          <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
  








  <section class="bg-gray-50">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
          Оставьте свой номер и мы бесплатно проконсультируем вас по поводу сайта
        </h2>

        <p class="hidden text-gray-500 sm:mt-4 sm:block">
          Не упускайте возможность не только воплотить в реальность сайт мечты, но и получить новых клиентов
        </p>
      </div>

      <div class="mx-auto mt-8 max-w-xl">
        <form @submit.prevent.stop="submit" class="sm:flex sm:gap-4">
          <div class="sm:flex-1">
            <label for="telephone" class="sr-only">Телефон</label>

            <input
              v-model="telephone"
              required
              type="number"
              placeholder="Телефон"
              class="w-full rounded-md border-gray-200 bg-white p-3 text-gray-700 shadow-sm transition focus:border-white focus:outline-none focus:ring focus:ring-yellow-400"
            />
          </div>

          <button type="submit" class="inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide ">
              <span
                  class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
                >
                Записаться
              </span>
          </button>


        </form>
      </div>
    </div>
  </section>





  <section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <div>
          <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
            WOW
          </p>
        </div>
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="d5589eeb-3fca-4f01-ac3e-983224745704" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#d5589eeb-3fca-4f01-ac3e-983224745704)" width="52" height="24"></rect>
            </svg>
            <span class="relative">Хотите сайт?</span>
            доверьте это дело Visitor
          </span>
          
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Немного статистики о нас
        </p>
      </div>
      <div class="relative w-full p-px mx-auto mb-4 overflow-hidden transition-shadow duration-300 border rounded lg:mb-8 lg:max-w-4xl group hover:shadow-xl">
        <div class="absolute bottom-0 left-0 w-full h-1 duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
        <div class="absolute bottom-0 left-0 w-1 h-full duration-300 origin-bottom transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
        <div class="absolute top-0 left-0 w-full h-1 duration-300 origin-right transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
        <div class="absolute bottom-0 right-0 w-1 h-full duration-300 origin-top transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
        <div class="relative flex flex-col items-center h-full py-10 duration-300 bg-white rounded-sm transition-color sm:items-stretch sm:flex-row">
          <div class="px-12 py-8 text-center">
            <p class="text-4xl font-bold text-deep-purple-accent-400 sm:text-5xl">
              99%
            </p>
            <p class="text-center md:text-base">
              наших клиентов довольны, а 1% в восторге!
            </p>
          </div>
          <div class="w-56 h-1 transition duration-300 transform bg-gray-300 rounded-full group-hover:bg-deep-purple-accent-400 group-hover:scale-110 sm:h-auto sm:w-1"></div>
          <div class="px-12 py-8 text-center">
            <p class="text-4xl font-bold text-deep-purple-accent-400 sm:text-5xl">
              ~12
            </p>
            <p class="text-center md:text-base">
              топовых сайтов за год
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>











  <section class="bg-gray-50">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">

        <h2 class="text-2xl font-bold text-gray-900 md:text-3xl mb-5">
          Отзывы
        </h2>


        <div
          class="relative block overflow-hidden rounded-lg border border-gray-100 p-8 mb-10"
        >
          <span
            class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-pink-300 via-yellow-500 to-purple-600"
          ></span>

          <div class="justify-between sm:flex">
            <div>
              <p class="mt-1 text-xl font-medium text-gray-600">Антон С.</p>
            </div>

            <div class="ml-3 hidden flex-shrink-0 sm:block">
              <img
                alt="Paul Clapton"
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="h-16 w-16 rounded-lg object-cover shadow-sm"
              />
            </div>
          </div>

          <div class="mt-4 sm:pr-8">
            <p class="text-sm text-gray-500">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
              provident a, ipsa maiores deleniti consectetur nobis et eaque.
            </p>
          </div>

            <div class="flex flex-col-reverse mt-3">
              <p class="text-xs text-gray-500">31st June, 2022</p>
            </div>
          </div>




        <div
          class="relative block overflow-hidden rounded-lg border border-gray-100 p-8 mb-10"
        >
          <span
            class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-pink-300 via-yellow-500 to-purple-600"
          ></span>

          <div class="justify-between sm:flex">
            <div>
              <p class="mt-1 text-xl font-medium text-gray-600">Михаил Р.</p>
            </div>

            <div class="ml-3 hidden flex-shrink-0 sm:block">
              <img
                alt="Paul Clapton"
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="h-16 w-16 rounded-lg object-cover shadow-sm"
              />
            </div>
          </div>

          <div class="mt-4 sm:pr-8">
            <p class="text-sm text-gray-500">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
              provident a, ipsa maiores deleniti consectetur nobis et eaque.
            </p>
          </div>

            <div class="flex flex-col-reverse mt-3">
              <p class="text-xs text-gray-500">31st June, 2022</p>
            </div>
          </div>


          <div
          class="relative block overflow-hidden rounded-lg border border-gray-100 p-8 mb-10"
        >
          <span
            class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-pink-300 via-yellow-500 to-purple-600"
          ></span>

          <div class="justify-between sm:flex">
            <div>
              <p class="mt-1 text-xl font-medium text-gray-600">Виталий С.</p>
            </div>

            <div class="ml-3 hidden flex-shrink-0 sm:block">
              <img
                alt="Paul Clapton"
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="h-16 w-16 rounded-lg object-cover shadow-sm"
              />
            </div>
          </div>

          <div class="mt-4 sm:pr-8">
            <p class="text-sm text-gray-500">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
              provident a, ipsa maiores deleniti consectetur nobis et eaque.
            </p>
          </div>

            <div class="flex flex-col-reverse mt-3">
              <p class="text-xs text-gray-500">31st June, 2022</p>
            </div>
          </div>


      </div>
    </div>
  </section>





<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold sm:text-3xl">Оставьте свой отзыв</h2>

      <p class="mt-4 text-gray-500">
        Ваше мнение важно для нас
      </p>
    </div>

    <formSend></formSend>  
  </div>
</section>


</div>
</template>




<script>
import axios from 'axios'
import formSend from '@/components/formSend.vue'

  export default {
    name: 'HelloWorld',
    components: {
    'formSend': formSend
  },

    data: () => ({
      model: 0,
      news: [],
      telephone: '',
    }),

    mounted() {
      this.$store.dispatch('GET_TODO');
    },

    methods : {
        submit: function() {
            axios.post('form.php', {
                telephone: this.telephone
            })
            .then()
            .catch(e => {
               this.errors.push(e)
            }),
            this.telephone = ''
        }
  },


    computed: {

        newsList() {
          return this.$store.getters.NEWS;
        },

      filterNews() {
          return function () {
            var filterNews = []
            for (var i = 0; i < this.newsList.length; i++) {
              if (this.newsList[i].slider) {
                filterNews.push(this.newsList[i]);
              }
            }
            return filterNews
          }
      },
    },

  }
</script>

