<template>

    <div>
        {{ names }}
    </div> 

</template>   

<script>

import axios from 'axios';

export default {
  name: "NewsComp",
  data() {
    return {
        names: ''
    }
  },

  mounted() {
    axios
      .get('http://localhost:8000/api/v1/employees/q')
      .then(response => (this.names = response.data.departments));

    this.$store.dispatch('GET_EMPLOYEES');
  },

}



</script>

<style scoped>

</style>