<template>
  <div>


    <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-20 mb-20">
      <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Регистрация</h2>

      <form>
          <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
              <div>
                  <label class="text-gray-700 dark:text-gray-200" for="username">Фамилия</label>
                  <input id="username" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              </div>

              <div>
                  <label class="text-gray-700 dark:text-gray-200" for="password">Имя</label>
                  <input id="password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              </div>


              <div>
                  <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Email</label>
                  <input id="emailAddress" type="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              </div>

              <div>
                  <label class="text-gray-700 dark:text-gray-200" for="password">Пароль</label>
                  <input id="password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              </div>

          </div>

          <div class="flex justify-center mt-10">
              <button type="submit" class="inline-block rounded bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75 tracking-wide ">
                <span
                    class="block rounded-sm bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
                  >
                    Создать аккаунт
                  </span>
              </button>
          </div>
      </form>
    </section>



  </div>
</template>


<script>

</script>

<style scoped>

</style>